TURSO_DATABASE_URL= your turso database url

TURSO_AUTH_TOKEN= your turso auth token

OPENAI_API_KEY= your openai api key

DISCORD_WEBHOOK_URL= your discord webhook url

JSEARCH_API_KEY= your jsearch api key

JSEARCH_API_HOST= your jsearch api host